.bg-header {
    width: 100%;
    background: $gradient;

    .app-header {
        padding: rem(12px) rem(62px) rem(12px) rem(12px);
        max-width: rem(1320px);
        height: rem(80px);
        margin: 0 auto;

        @include for-narrow-layout {
            padding: rem(12px);
        }

        .logo {
            a {
                max-width: rem(100px);
            }
        }

        .main-nav {
            &.side-menu {
                @include for-narrow-layout {
                    background: none;
                }

                background-color: #00000084;
            }

            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 100;
            background: none;
            // transition: .2s ease-in;

            @include for-narrow-layout {
                background: none;
                position: relative;
                width: fit-content;
            }

            ul {
                height: 100%;
                width: rem(240px);
                background-color: #fff;
                position: absolute;
                top: 0;
                right: rem(-240px);
                z-index: 200;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: rem(32px);
                transition: .2s ease-in;

                &.side-menu {
                    right: 0;
                }

                li {
                    a {
                        &:visited {
                            color: $headerClr;
                        }

                        &.active {
                            color: darken($primaryClr, 10);
                        }
                    }
                }
            }

            @include for-narrow-layout {
                ul {
                    background-color: transparent;
                    position: static;
                    flex-direction: row;
                }
            }
        }

        .nav-login {
            width: rem(85px);
            height: rem(40px);
            gap: rem(15px);
            background-color: $primaryClr;
            border-radius: 2em;
            transition: .1s ease-in-out;

            .btn-login {
                width: 100%;
                height: 100%;
                color: #fff;
            }
        }

        .btn-menu {
            position: absolute;
            z-index: 2000;
            top: 27px;
            right: 20px;
            font-size: rem(24px);

        }

        .hidden {
            @include for-narrow-layout {
                display: none;
            }
        }
    }
}