// Flex helpers

.flex {
    display: flex;

    &.column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;
    }

    &.align-center {
        align-items: center;
    }

    &.between {
        justify-content: space-between;
    }

    &.wrap {
        flex-wrap: wrap;
    }

    &.center {
        justify-content: center;
        align-items: center;
    }
}

// Unorderd list

.clean-list {
    list-style: none;
}

// Button

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}