// Layout
$layoutPadding: 16px;

// Layout breakpoints
$narrow-breakpoint: 600px; // For tablet screens
$normal-breakpoint: 900px; // For laptop screens
$wide-breakpoint: 1270px; // For desktop screens

$padded-break-narrow: $narrow-breakpoint + $layoutPadding * 2;
$padded-break-normal: $normal-breakpoint + $layoutPadding * 2;
$padded-break-wide: $wide-breakpoint + $layoutPadding * 2;